APP_NAME=Helpify
APP_PRODUCT=helpify
APP_ENV=local
APP_DEBUG=false
APP_KEY=
APP_URL=https://helpsiffyy.app
LOG_CHANNEL=stderr
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=helpify_demo
DB_USERNAME=helpify_app
DB_PASSWORD=
CACHE_DRIVER=redis
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379
